input, select, textarea{
  outline: none;
  width: 50%;
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.error{
  border: 1px solid red;
}

.error-note{
  color: red;
  cursor: help;
}

.info{
  cursor: pointer;
}

span.inf{
  i{
    cursor: pointer;
  }
}

.btn-card:before{
  position: relative;
  top: 5px;
  font-size: 20px;
}


//.popup-msg{
//  display: none;
//  border: 1px solid pink;
//  padding: 5px;
//  position: absolute;
//  margin-left: 5px;
//}
.show{
  display: inline-block !important;
}

.popup-msg {
  display: none;
  position: absolute;
  max-width: 215px;
  padding: 10px;
  font-size: 12px;
  cursor: help;
  margin-left: 15px;

  &.error-msg:before,
  &.info-msg:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 25%;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    line-height: 1.2;
  }

  &.error-msg {
    background-color: #ffe3e3;
    color: #c50000;

    &:before { border-right: 8px solid #ffe3e3; }
  }

  &.info-msg {
    background-color: #def1ff;
    color: #00599a;
    span { display: block; }
    &:before { border-right: 8px solid #def1ff; }
  }
}

div{
  input{
    margin-bottom: 2px;
    margin-top: 2px;
  }
}
div.note{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  span.note{
    color: #c50000;
  }
}

textarea{
  padding: 1px 0px;
  width: 340px;
  outline: none;
  resize: none;
  height: 80px
}


.controls{
  .on-save{
    margin-right: 5px;
  }
}

